extends layout

append head
  link(rel='stylesheet', href='/css/leaflet.css')

block content
  include includes/modal_info
  .container-fluid
    #waipclock.d-none
      include includes/master_clock
    #waiptableau.d-none
      include includes/master_wachalarm

  script.
    map_service=!{JSON.stringify(map_service)};
    client_id="#{app_id}"
  script(src='/js/leaflet.js')
  script(src='/js/textFit.min.js')
  script(src='/socket.io/socket.io.js') 
  script.
    wachen_id="#{wachen_id}"
    waip_id=null
  script(src='/js/client_waip.js')
